server:
  port: 8081

spring:
  application:
    name: ms-orders
  datasource:
    url: jdbc:postgresql://localhost:5432/db_orders # Confirma si tu puerto es 5432 o 5444
    username: postgres
    password: Joaquin@3003
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: localhost
    port: 5672
    username: guest # Esto es de RabbiMQ
    password: guest # Esto tmb es de RabbitMQ

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/