server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-route
          uri: lb://MS-AUTH
          predicates:
            - Path=/auth/**

        - id: orders-route
          uri: lb://MS-ORDERS
          predicates:
            - Path=/api/orders/**
          filters:
            - AuthenticationFilter

        # --- NUEVA RUTA: SHIPPING ---
        - id: shipping-route
          uri: lb://MS-SHIPPING
          predicates:
            - Path=/api/shipping/**
          filters:
            - AuthenticationFilter

        # --- NUEVA RUTA: NOTIFICATIONS ---
        - id: notifications-route
          uri: lb://MS-NOTIFICATIONS
          predicates:
            - Path=/api/notifications/**
          filters:
            - AuthenticationFilter
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG