server:
  port: 8082

spring:
  application:
    name: ms-shipping
  datasource:
    url: jdbc:postgresql://localhost:5432/db_shipping
    username: postgres
    password: Joaquin@3003
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/