server:
  port: 8083

spring:
  application:
    name: ms-notifications
  rabbitmq:
    host: localhost
    port: 5672
    username: guest # Esto es de RabbiMQ
    password: guest # Esto tmb es de RabbitMQ

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/